<div>

  <button class="btn" (click)="toggleList()">Show / hide list of users</button>

</div>

<div *ngIf="showList">

  <h3>User List: </h3>
  <ul>
    <!-- Ideia: Trackear o ID do item que foi deletado e passar essa info pro parent
          ESSE ID PRECISARIA SER O VALOR DE OUTPUT
    -->

    @for (item of userList; track item ;let index = $index) {
    <li>
      Id: {{item.id}}<br>
      Name: {{item.name}} <br>
      Email: {{item.email}} <br>
      <button (click)="emitDeleteOrder(item.id)">DELETE</button>
    </li>

    }
  </ul>

</div>
